USE [master]
GO
/****** Object:  Database [MPGOLD]    Script Date: 4/11/2021 2:08:49 PM ******/
CREATE DATABASE [MPGOLD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MPGOLD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MPGOLD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MPGOLD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MPGOLD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MPGOLD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MPGOLD]
GO
/****** Object:  Table [dbo].[customer_record]    Script Date: 4/11/2021 2:08:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_record](
	[SrNo] [varchar](50) NULL,
	[customer_name] [varchar](50) NULL,
	[sample_type] [varchar](50) NULL,
	[weight] [varchar](50) NULL,
	[date] [varchar](50) NULL,
	[gold] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
